table {
    color: #191919;
    border-collapse: collapse;
    width: 450px;
    text-align: center;
    border-radius: 50px;
}

tr, th, td {
    border: 1px solid #191919;
    width: 33%;
    padding: 10px;
}

th, td {
    background-color: lightyellow;
}

th {
    font-size: 24px;
    background-color: orange;
}
